--extra-index-url https://download.pytorch.org/whl/cpu
fastapi[all]
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
pydantic
faiss-cpu
uvicorn
langchain-huggingface
transformers
torch==2.12.0+cpu
sentence-transformers
accelerate
google-genai
groq