fastapi[all]
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
pydantic
faiss-cpu
uvicorn
langchain-huggingface
transformers
torch
sentence-transformers
accelerate
google-genai